.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  text-shadow: 1px 1px 2px black;
  font-size: 22px;
  flex-wrap: nowrap;
}

.a {
  color: white;
  text-decoration: none;
  text-wrap: nowrap;
}
.links{
  display: flex;
  align-items: center;
  gap: 10px;
}
