.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  margin: 0;
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
}

.a {
  color: white;
  text-decoration: none;
}
.links{
  display: flex;
  align-items: center;
  gap: 10px;
}
