.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  margin: 0;
  background: rgb(49, 142, 184);
  background: linear-gradient(
    42deg,
    rgba(49, 142, 184, 1) 0%,
    rgba(255, 148, 148, 1) 27%,
    rgba(255, 200, 0, 1) 61%,
    rgba(255, 0, 0, 1) 100%
  );
}
