.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  margin: 0;
  background: rgb(49, 142, 184);
  background: linear-gradient(
    42deg,
    rgba(49, 142, 184, 1) 0%,
    rgba(255, 148, 148, 1) 27%,
    rgba(255, 200, 0, 1) 61%,
    rgba(255, 0, 0, 1) 100%
  );
}

.carousel {
  width: 99.9%;
  max-height: 60vh;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex !important;
  justify-content: center;
}
.carouselel {
  position: relative;
  overflow: hidden;
}

.imgBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: blur(5px);
  z-index: -1;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text_title {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 45%;
  left: 3%;
  text-shadow: 1px 1px 1px black;
}
.text_date {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 55%;
  text-shadow: 1px 1px 1px black;
  left: 3%;
}
.text_overview {
  width: 40%;
  height: auto !important;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 65%;
  text-shadow: 1px 1px 1px black;
  left: 3%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-clamp: 5;
  box-orient: vertical;
}
